{% extends "layout.html" %}

{% block body %}
    
    <center>
        <h3 style="margin-top: 3%">Hakkımda</h3>
    </center>
    <hr>
        <p>
                Bu proje açık kaynak ve özgür olarak geliştirilmektedir. Projenin tüm detaylarını 
                <a href="https://www.github.com/ilteriskesk">GitHub sayfasından</a> görüntüleyebilirsiniz.
                Projenin geliştirilme nedeni yapılması gereken işlerin takibini kolaylaştırmaktır. Bu web 
                uygulaasında iş girebilirsiniz, iş takibi yapabilirsiniz, işlerin ilerleme durumunu görebilirsiniz.
                Proje web üzerinde yayınlanacağı için global olacaktır. Kendi çalışanlarınıza özel olmasını istiyorsanız
                ufak bir güvenlik sorusu ile bunu çözebilirsiniz.
        </p>
    <hr>

{% endblock body %}