{% extends "layout.html" %}

{% block body %}

    <div class="jumbotron text-center">
        <h3>
            MucitPark İş Takip Sistemi Üye Görüntüleme Sayfasına Hoş Geldin {{ request.user.username }}
        </h3>
            <p>
                Kişi Listesi Görüntüleme Sayfası. Kişinin 
                görevlerine ulaşmak için kullanıcı adına tıklayın.
            </p> 
    </div>

    
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Kullanıcı</th>
            <th scope="col">Coin</th>
        </tr>
        </thead>
        <tbody>
        {% for coin in coins %}
        <tr>
            <th scope="row">{{ coin.id }}</th>
            <td>{{ coin.author }}</td>
            <td>{{ coin.quantity }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    
    <!--
    {% for user in users %}
        <p><strong>{{ user.id }}--------------------------{{ user }}</strong></p>
        <hr>
    {% endfor %}
    -->
{% endblock body %}     