{% extends "layout.html" %}

{% block body %}

    <div class="jumbotron text-center">
        <h3>
            MucitPark İş Takip Sistemi Üye Coin Miktarı Görüntüleme Sayfasına Hoş Geldin {{ request.user.username }}
        </h3>
            <p>
                Kişilerin Coinlerini Görüntülendiği Sayfası
            </p> 
    </div>


    {% if coins %}
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Kullanıcı</th>
            <th scope="col">Coin</th>
        </tr>
        </thead>
        <tbody>
        {% for coin in coins %}
        <tr>
            <th scope="row">{{ coin.id }}</th>
            <td>{{ coin.author }}</td>
            <td>{{ coin.quantity }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <div class="alert alert-danger">
            Herhangi Bir Görev Bulunmuyor ! 
        </div>
    {% endif %}
{% endblock body %}     